textarea {
    padding: .5rem !important;
}

.btn-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    animation: pulse 3s linear infinite;
}

.openai-button {
    width: 20px;
}

@keyframes pulse {
    0% {
        background-color: rgb(95, 86, 219);
    }

    50% {
        background-color: rgb(161, 129, 202);
    }

    100% {
        background-color: rgb(95, 86, 219);
    }
}

.gtp-modal {
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 10;
    height: 400px;
    overflow: hidden;
    left: 100%;
    top: 50%;
    width: 500px;
    margin-left: 36px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(23, 68, 130, 0.2) 0px 0px 1px, rgba(23, 68, 130, 0.15) 0px 2px 14px;
    opacity: 1;
    transform: translateY(-20%);
}

.modal-content {
    position: absolute;
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: scroll;
}

.close-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    padding: 5px 7px;
    border-radius: 20px;
    height: 22px;
    width: 22px;
    background: #ffffff00;
}

.close-modal img {
    height: 10px;
}

.gtp-form textarea {
    border: none;
    outline: none;
    resize: none;
    height: 4rem;
    border-radius: 0px;
    background: #ffffff;
    font-size: 12px;
}

.search-btn {
    position: absolute;
    padding: 5px;
    right: 0.5rem;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    top: 2.2rem;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    background: rgb(181, 216, 191);
}

.clear-btn {
    position: fixed;
    padding: 4px;
    right: 2.0rem;
    top: 2.2rem;
    color: #ffffff;
    font-weight: 400;
    font-size: 8px;
    background: rgb(224, 224, 224);
    margin: 0 !important;
    color: black;
}

.answer-container {
    padding: 0.5rem;
}
.answer-section{
    margin-bottom: 10px;
}
.answer,
.question {
    padding: 0.5rem;
    font-size: 12px;
    white-space: pre-wrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;
}

.answer {
    background-color: rgb(212, 212, 212);
    margin: 0;
    border-radius: 3px;
    position: relative;
}

.question {
    margin: 0;
}

.gpt-tag-container {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.gpt-tag-container-rt{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.gpt-tag-container-lt{
    margin-right: .5rem;
}

#gpt-loading-bar {
    overflow: hidden;
    position: relative;
    content: '';
    width: 80px;
    height: 5px;
    background: #0eb1de92;
    animation: loadingBar 3s linear infinite;
    top: -5px;
    z-index: 2;
    visibility: hidden;
}

@keyframes loadingBar {
    0% {
      transform: translate(0px, 0px);
    }
  
    50% {
      transform: translate(422px, 0px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
}
@keyframes loadingBarMd {
    0% {
      transform: translate(0px, 0px);
    }
  
    50% {
      transform: translate(215px, 0px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
}
@media screen and (max-width: 1700px) {
    #gpt-loading-bar {
        animation: loadingBarMd 3s linear infinite;
    }
}

.gpt-tags {
    display: flex;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
}

button:empty {
    display: none;
}

.copy-icon {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 5px;
    bottom: 5px;
    border-radius: 15px;
    background: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1700px) {
    .gtp-modal {
        height: 260px;
        width: 300px;
        right: 0px;
        top: 90px;
    }

    .gtp-form textarea {
        font-size: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .gtp-modal {
        height: 200px;
        width: 300px;
        left: -305px;
        top: 350px;
    }

    .gtp-form textarea {
        font-size: 9px;
        height: 3.4rem;
    }

    .gtp-form hr {
        margin: 2px;
    }

    .gpt-tag-container {
        padding: 0 .5rem;
        font-size: 10px;
    }

    .gpt-tag-container button {
        padding: 3px;
        font-size: 10px;
    }

    .answer,
    .question {
        font-size: 10px;
    }

    .search-btn {
        padding: 0 3px;
    }
}

@media screen and (max-width: 900px) {
    .gtp-modal {
        display: none;
    }
}