.btn-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    animation: pulse 3s linear infinite;
}
.openai-button{
    width: 20px;
}
@keyframes pulse {
    0%{ 
        background-color: rgb(95, 86, 219);
    }
    50%{
        background-color: rgb(161, 129, 202);
    }
    100%{
        background-color: rgb(95, 86, 219);
    }
}
.gtp-modal{
    position: absolute; /* right here is what does it */
    color: rgb(0, 0, 0);
    z-index: 10;
    height: 400px;
    overflow: hidden;
    left: 100%;
    top: 50%;
    width: 560px;
    margin-left: 16px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(23, 68, 130, 0.2) 0px 0px 1px, rgba(23, 68, 130, 0.15) 0px 2px 14px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3 ease-in-out;
    transform: translateY(-20%);
}
.gtp-modal.fade{
    opacity: 0;
}


.modal-content {
    position: absolute;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 5px 8px -1px rgba(0,0,0,0.82); 
    box-shadow: 1px 5px 8px -1px rgba(0,0,0,0.82);
    z-index: 10;

}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}