@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
  --clr-blue: #0edead;
  --clr-blue-mid: #1170CD;
  --clr-blue-dark: #1A1C6A;
  --clr-white: #011a2e;
  --clr-bright: #EFF2F9;
  --clr-dark: rgb(66, 66, 66);
  --clr-black: #000;
  --clr-grey: #656e83;
  --clr-green: #ced2db;
  --font-poppins: 'Poppins', sans-serif;
  --font-manrope: 'Rubik', sans-serif;
  --transition: all 300ms ease-in-out;
}
p{
  font-size: 1rem;
}
.paragraph{
  font-weight: 300;
}
button{
  padding: 1rem 2rem;
  background-color: #347ec7;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
} 
body{
  font-size: 1.6rem;
  font-family: var(--font-poppins);
  background-color: #f5f5f5;
}
.label{
  font-size: 16px;
  line-height: 20px;
  color: rgb(130, 139, 162);
}
.input-style{
  width:100%;
  border:none;
  background-color: #d6dbe4;
  padding:8px;
  border-radius:3px;
  font-size: 16px;
}
.input-row-cont{
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}
.input-container{
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - 20px);
}
.profile-picture{
  font-size: 16px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.profile-picture img{
  height:100px;
  width:100px;
  background:rgb(216, 219, 233);
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.pfp-link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: chocolate;
}
#divToPrint{
  background-color: #ffffff;
  position: relative;
  transform: scale(0.71);
  border-radius: 5px;
}
/* Template Select */
.templates-container{
  margin: 0 auto;
  max-width: 1440px;
  padding: 24px 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin-bottom: 4rem;
}
.title-message button{
  padding: 1rem 2rem;
  background-color: #347ec7;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
} 

/* home */
.home-container{
  margin: 2rem auto;
  display: flex;
  max-width: 60%;
  justify-content: left ;
  /* align-items: center; */
  flex-direction: column;
  padding: 1rem;
}
.div-features-list{
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  margin-top: 5%;
}
.features-list li {
  display: inline;
  margin-right: 1rem;
}
ul.features-list {
  padding-left: 0rem;
}
#home-features{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* build nav */
.build-nav{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #011a2e;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 3rem 0 3rem;
  justify-content: space-between;
}
.nav-left{
  float: left;
}
.nav-right{
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
  gap: 2rem;
  font-size: 1.4rem;
}
.nav-right button{
  padding: 0.5rem;
}

/* builder */
.details-container{
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.required-error{
  font-size: 16px;
}
#details-form-cont{
  width: 90%;
}
.build-container{
  margin-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.preview-container{
  padding: 2rem;
  position: fixed;
  width: 50%;
  top: 80px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: rgb(101, 110, 131);
  z-index:0;
}

.all-templates{
  text-decoration: underline;
}

.no-text-decoration{
  text-decoration: none;
  
}
.list-item{
  padding:10px;
  font-size: 20px;
}
.modal{
  display: none;
}

.block{
  display: block;
  background-color: rgba(50,50,50,0.5);
}
.resume{
  margin:20px;
  margin-left: 50px;
}
/* The side navigation menu */
.sidebar {
  position: fixed;
  left: 0;
  top: 40%;
  margin: 0;
  height: 100%;
  width: 50px;
  overflow: auto;
  
}

/* Sidebar links */
.sidebar li {
  display: block;
  border: 1px solid #4f81c7;
  padding: 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Links on mouse-over */
.sidebar li:hover{
  background-color:white;
  ;
}

/* Page content.  */
div.content {
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    padding: 1px;
    /* display: none; */
    /* height:80px; */
  }

  .sidebar li {
    float: left;
    font-size: 20px;
  }
  div.content {margin-left: 0;
              margin-top: 30px;
              background-color: #f7f7f7;}
  .resume{margin: 1px;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar li {
    text-align: center;
    float: none;
    font-size: 12px;
  }
}

.input-style:focus{
  border:5px solid rgba(63, 136, 239, 0.4);
  outline:none;
}



.image-aspect-ratio{
aspect-ratio: 0.9;
}

/* templates */
.template-global{
  height: 29.7cm;
  width: 21cm;
  overflow: hidden;
}
.template-g-bg{
  height: 100%;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 5px;

}

.tiptap-btn {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
.tiptap-btn button{
  padding: 2px;
  background-color: transparent;
  color: #656e83;
}
.tiptap-editor .ProseMirror{
  padding: 1rem;
  background-color: #d6dbe4;
  height: 180px;
  margin: 0;
}
.tiptap-text-p p{
  font-weight: 300;
  margin: 0;
}